  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <a class="navbar-brand" href="#">
          <img src="assets/Logo.png" width="60" height="60" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item routerLinkActive="active>
            <a class="nav-link text-white" routerLink="/users">Users Quemes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/insert_imei_modal" data-toggle="modal" data-target="#miModal">Insert imei</a>
          </li>
          <li class="nav-item">
              <a class="nav-link text-white" href="#">Update imei</a>
            </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Update
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Imei</a>
              <a class="dropdown-item" href="#">Password</a>
              <a class="dropdown-item" href="#">Rank</a>
              <a class="dropdown-item" href="#">Dependency</a>
              <a class="dropdown-item" href="#">Type device</a>
              <a class="dropdown-item" href="#">Job</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-dark" type="button">Search</button>
        </form>
      </div>
    </nav>

    <app-insert-imei-modal></app-insert-imei-modal>
