<div class="modal fade" id="deleteImeiModal" tabindex="-1" role="dialog" aria-labelledby="deleteImeiModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteImeiModalLabel">Delete imei</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit) = "deleteImei()">
                    <div class="form-group">
                        <label for="imeiDevice" class="col-form-label imeiUser"></label>
                        <input type="text" class="form-control" placeholder="Delete Imei" [(ngModel)]="imei.imeiDevice" name="imeiDevice">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button role="button" class="btn btn-primary">Eliminar imei</button>
                    </div> 
                </form>
            </div>
        </div>
    </div>
</div>
