<div class="card">
    <div class="card-body test-primary">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Número del celular</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Apodo</th>
                    <th scope="col">Email</th>
                    <th scope="col">Trabajo</th>
                    <th scope="col">Rango</th>
                    <th scope="col">Dependencia</th>
                    <th scope="col">Tipo de dispositivo</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{user.uuidUser}} </td>
                    <td>{{user.username}}</td>
                    <td>{{user.name}} </td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.callSing}}</td>
                    <td>{{user.uuidEmail}}</td>
                    <td>{{user.uuidJob}}</td>
                    <td>{{user.rank}}</td>
                    <td>{{user.dependency}}</td>
                    <td>{{user.typeDevice}}</td>
                </tr>
            </tbody>
        </table>
</div>