<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Insertar imei</h5>
        <p class="card-text">Insertar imei si el usuario no está registrado aún en Quemes.</p>
        <button type="button" class="btn btn-primary">Insertar</button>
    </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Ver usuarios de Quemes</h5>
        <p class="card-text">Actualizar datos de los usuarios</p>
        <a href="#" class="btn btn-primary">Actualizar</a>
      </div>
    </div>
  </div>
</div>
