<div class="modal fade" id="updatePasswordModal" tabindex="-1" role="dialog" aria-labelledby="updatePasswordModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updatePasswordModalLabel">Actualizar contraseña</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit) = "updatePassword()">
                    <div class="form-group">
                        <label for="username" class="col-form-label updatePassword"></label>
                        <input type="text" class="form-control" placeholder="Número de celular"
                            [(ngModel)]="updatePasswordDTO.username" name="username">
                    </div>
                    <div class="form-group">
                        <label for="newPassword" class="col-form-label updatePassword"></label>
                        <input type="password" class="form-control" placeholder="Nuevo contraseña"
                            [(ngModel)]="updatePasswordDTO.newPassword" name="newPassword">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button role="button" class="btn btn-primary">Actualizar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
