<div class="modal fade" id="updateImeiModal" tabindex="-1" role="dialog" aria-labelledby="updateImeiModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateImeiModalLabel">Update imei</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit) = "updateImei()">
                    <div class="form-group">
                        <label for="username" class="col-form-label updateImei"></label>
                        <input type="text" class="form-control" placeholder="Cell phone"
                            [(ngModel)]="updateImeiDTO.username" name="username">
                    </div>
                    <div class="form-group">
                        <label for="newImei" class="col-form-label updateImei"></label>
                        <input type="text" class="form-control" placeholder="New imei"
                            [(ngModel)]="updateImeiDTO.newImei" name="newImei">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button role="button" class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>