#team {
    background: #005E62 !important;
  }

.btn-secondary{
    background-color: grey;
    border-bottom-color: grey;
    border-color: grey;
}

.btn-primary{
    background-color: #005E62;
    border-bottom-color: #005E62;
    border-color: #005E62;
}